@page "/counterquerystring"
@inject NavigationManager NavManager


<h1>Counter With Query String</h1>


<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "initialCount")]
    public int CurrentCount { get; set; } = 0;


    private void IncrementCount()
    {
        CurrentCount++;
    }
}
